data/*.jsonl
data/*.json
data/*.txt
data/*/*.jsonl
data/*/*.json
data/*/*.txt
!data/websites_to_exclude.txt
!data/test_data.jsonl
!data/*/test_data.jsonl

debugging_screenshots/*
!debugging_screenshots/.gitkeep

node_modules/
package-lock.json

*.code-workspace
.vscode/

*.img

proxy.conf
